
.content {
    height: 100vh;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
}
.carousel {
    height: 80%;
    width: 100%;
    border-radius: 10px 0px 0px 0px;
}

.slide {
    background-size: cover;
    background-position: center;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0pc 0px 0px;

    border-radius: 0px 0px 0px 10px;
}

.gallery .gallery_slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery .swiper-slide-thumb-active {
    opacity: 1;
}

.gallery_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
