* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter"
    
        /* overflow: hidden; */
}

/* ::-webkit-scrollbar {
    width: 8px;

    height: 5px;

    background-color: #143861;
}


::-webkit-scrollbar-thumb {
    background-color: #064E3B;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
} */