.clue_tags_container {
    min-width: 100%;
    height: 250px;
    overflow-y: scroll;
}

/* SCROLL */
.clue_tags_container::-webkit-scrollbar {
    width: 6px;
    background-color: #FFFAF4;
}

.clue_tags_container::-webkit-scrollbar-thumb {
    background-color: #EFA05E;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}


.clue_tags_container::-webkit-scrollbar-thumb {
    background-color: #EFA05E;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}


.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}


/* РЕЗУЛЬТИРУЮЩИЙ ЗАПРОС */

.resulting_tags_prompt {
    margin-top: 36px;
    padding: 16px 24px;
    height: 151px;
    background-color: #FFFAF4;
}

/* ВВОД ТЕГОВ И ФОТО*/


.inpt_section,
.btn_section {
    width: 100%;

    display: flex;
    gap: 12px;
}

.tags_inpt {
    width: 70%;
    height: 64px;

    border-radius: 4px;
    border: 1px solid #EFA05E;

    outline: none;
    flex-grow: 1;
    padding-left: 20px;
    font-size: 16px;
}

/* КНОПКИ */

.upload_icon,
.tool_icon {
    background-color: #EFA05E;
    height: 64px;
    width: 64px;
    padding: 20px;
    border-radius: 4px;
}

.tool_icon {
    background-color: rgba(243, 111, 1, 0.38);
}

.btn_section {
    margin-top: 18px;
}

.generate_btn {
    width: 70%;
    height: 64px;
    border-radius: 4px;
    background-color: #EFA05E;
    flex-grow: 1;

    outline: none;
    border: none;
    text-align: center;

    font-size: 20px;
}

.generate_btn_disabled {
    width: 70%;
    height: 64px;
    border-radius: 4px;
    background-color: #E0E0E0;
    flex-grow: 1;

    outline: none;
    border: none;
    text-align: center;

    font-size: 20px;
}