.layout {
    min-width: 100%;
    min-height: 100vh;

    padding: 0 120px;
}

.content {
    max-height: 100%;

    width: 80%;
    flex-grow: 1;
    
    display: flex;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin: 2% 2% 2% 0; 
}

.left_col,
.right_col {
    /* padding: 40px 20px 40px 0px; */
    box-sizing: border-box;
}

.left_col {
    width: 65%;
    /* flex-grow: 1; */
    padding: 30px 20px;
}

.right_col {

    /* padding: 1.5% 1.5% 1.5% 0; */
    width: 35%;
    /* position: fixed; */
    right: 0;
    height: 100%;


    /* min-width: 35%;
    flex-grow: 1; */
    /* padding: 0px 0px 0px 70px; */
}