.layout {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left_col,
.right_col {
    /* padding: 20px 0px; */
    box-sizing: border-box;
}

.left_col {
    min-width: 55%;
    flex-grow: 1;
    padding: 30px 50px;
}

.right_col {
    min-width: 35%;
    flex-grow: 1;
    /* padding: 0px 0px 0px 70px; */
}