.sidebar {
    min-width: 80px;
    background-color: #F7F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    justify-content: center;
    padding-bottom: 100px;

    border-radius: 0px 10px 10px 0px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-top: 30px;
}

.logo {
    position: absolute;
    bottom: 20px;
}

.menu div {
    min-width: 100%;
    font-size: 25px;
    cursor: pointer;
    color: #878688;
}

.profile {
    position: absolute;
    bottom: 0;
}

.selected {
    color: #1A1A1D;
    /* background-color: #ECFDF5;
    color: #064E3B; */
}