.tag {
    padding: 8px 16px;
    background-color: #FEF9F3;

    border-radius: 4px;

    text-align: center;

    white-space: nowrap;
    cursor: pointer;
}

.selected {
    background-color: #EFA05E;
}